# Visual Studio
.vs/
bin/
obj/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/

# Compiled DLLs
*.dll
*.pdb

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Bannerlord
Modules/SlowRecruitmentMod/bin/
Modules/SlowRecruitmentMod/obj/
